<section style="background-color: #021F39;">
<section class="text-center text-white py-5" >
    <div class="container">
      <h1 class="fw-bold">Build stronger digital connections</h1>
      <h4>Use our URL shortener, QR Codes, and landing pages to engage your audience and connect them to the right information. Build, edit, and track everything inside the Bitly Connections Platform.</h4>
  
      <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-light text-dark me-3 px-4 py-3 d-flex align-items-center"style="font-weight: bold; border-radius: 10px;"><img src="links.svg" alt="Short link" width="30" height="30" class="me-2" > Short link</button>         
      <button class="btn btn-outline-light px-4 py-3" style="font-weight: bold; border-radius: 10px;"><img src="qr-codes.svg" alt="Short link" width="30" height="30" class="me-2">QR Code</button>
      </div>
    </div>
</section>

<div class="container d-flex justify-content-center">
    <div class="p-5 bg-white rounded-5 shadow-lg" style="width: 900px;">
        <h2 class="fw-bold">Shorten a long link</h2>
        <p class="text-secondary">No credit card required.</p>

        <label for="linkInput" class="fw-semibold">Paste your long link here</label>
        <input type="text" id="linkInput" class="form-control mt-2 p-3 border-primary" placeholder="https://example.com/my-long-url">

        <button class="btn btn-primary mt-4 w-10 p-3 rounded-4 fw-bold">
            Get your link for free  <img src="arrow.png" alt="Arrow" width="30" height="30" class="ms-2">
        </button>
    </div>
</div>

<section class="text-center text-white py-5" >
    <div class="container">
      <h4 class="fw-bold">Sign up for free. Your free plan includes:</h4>
     
      <div class="d-flex justify-content-center mt-3">
        <p><img src="checkmark.svg" alt="Arrow" width="24" height="24" class="ms-2"> 5 short links/month
            <img src="checkmark.svg" alt="Arrow" width="24" height="24" class="ms-2"> 3 custom back-halves/month
            <img src="checkmark.svg" alt="Arrow" width="24" height="24" class="ms-2"> Unlimited link clicks    
        </p>
       </div>

       <div class="d-flex justify-content-center mt-3">
        <p><img src="curology-3.svg" alt="Arrow" class="ms-2">
            <img src="novasol-1.svg" alt="Arrow" class="ms-2">
            <img src="rad-bikes-3.svg" alt="Arrow" class="ms-2">
            <img src="marriott-1.svg" alt="Arrow" class="ms-2">
            <img src="new-york-times-1.svg" alt="Arrow" class="ms-2">
            <img src="smalls.svg" alt="Arrow" class="ms-2">           
        </p>
       </div>
    </div>
</section>
</section>
