
.btn-primary:hover {
    background-color: #021F39;
    transition: all 0.3s ease; 
}


.btn-outline-primary:hover {
    background-color: #021F39;
    color: #fff;
    border-color: #021F39; 
    transform: scale(1.05);
    transition: all 0.3s ease; 
}

.custom-card {
    background: #EEEAE3; 
    border: 1px solid #BAB7B0; 
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 400px;
    font-weight: bold;
}

.inside-custom-card{
    background: #ffffff;  
    border-top: 1px solid #BAB7B0; 
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    height: 200px;
    width: 100%;
    font-weight: 500;
}
