<section class="text-center text-white py-5" style="background-color: #021F39;">
    <div class="container">
      <h1 class="fw-bold">Build stronger digital connections</h1>
      <h4>Use our URL shortener, QR Codes, and landing pages to engage your audience and connect them to the right information. Build, edit, and track everything inside the Bitly Connections Platform.</h4>
  
      <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-light text-dark me-3 px-4 py-3 d-flex align-items-center"style="font-weight: bold; border-radius: 10px;"><img src="links.svg" alt="Short link" width="30" height="30" class="me-2" > Short link</button>         
      <button class="btn btn-outline-light px-4 py-3" style="font-weight: bold; border-radius: 10px;"><img src="qr-codes.svg" alt="Short link" width="30" height="30" class="me-2">QR Code</button>
      </div>
    </div>
</section>