<nav id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" bis_skin_checked="1">
  <a [routerLink]="role === 'Admin' ? '/dashboard' : '/user-dashboard'" 
  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-6"><img src="bitly_logo.svg" width="80px" alt="logo"></span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let item of navItems">
      <a 
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link link-body-emphasis">
        <i class="bi" [ngClass]="'bi-' + item.icon"></i> 
        {{ item.label }}
      </a>
    </li>    
  </ul>
  <hr>
  <div class="dropdown" bis_skin_checked="1" dropdown>
    <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" dropdownToggle>
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>User </strong>
    </a>
    <ul class="dropdown-menu text-small shadow" style="color: #000;" *dropdownMenu>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#" (click)="onLogout()">Sign out</a></li>
    </ul>
  </div>
</nav>
