<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Bitly Links</h2>
    <button class="btn btn-primary">Create link</button>
  </div>

  <div class="mb-3 d-flex justify-content-between">
    <input type="text" class="form-control w-50" placeholder="Search links..." />
    <div>
      <button class="btn btn-outline-secondary me-2">Filter by date</button>
      <button class="btn btn-outline-secondary">Add filters</button>
    </div>
  </div>

  @for (link of links; track $index) {
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h5>{{ link.long_url }}</h5>
            <a [href]="'http://localhost:3000/' + link.short_code" target="_blank" class="text-primary">
              {{ link.short_code }}
            </a>
            <p class="text-muted"></p>
            <small class="text-muted">
              Total Clicks: {{ link.clicks }} | 🔗 {{ link.created_at }}
            </small>
          </div>
          <div class="d-flex">
            <button class="btn btn-outline-secondary me-2" (click)="copyToClipboard(link.short_code)">
              Copy
            </button>
            <button class="btn btn-outline-secondary">Share</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
