<section class="text-center text-white py-5" style="background-color: #021F39;">
    <div class="container">
        <h1 class="fw-bold" style="color: #FF950A; font-size: 60px;">More than a link shortener</h1>
        <!-- Card -->
        <p class="fw-bold text-center" style="color: #ffffff; font-size: 22px;">
            Knowing how your clicks and scans are performing should be as easy as<br> making them. Track, analyze, and optimize all your connections in one place.
        </p>

        <button class="btn btn-outline-light mt-4 w-11 p-3 rounded-4 fw-bold">
            Get started for free  <img src="arrow.png" alt="Arrow" width="30" height="30" class="ms-2">
        </button>
        <div class="img">
            <img src="footer-img_desktop@2x-2048x806.png" alt="img" width="90%">
        </div>
    </div> 
    <div class="w-100" style="height: 4px; background-color: #FF950A;"></div>
    
    

</section>
