<section class="text-center text-white py-5" style="background-color: #021F39;">
    <div class="container">
        <h1 class="fw-bold" style="color: #FF950A; font-size: 60px;">More than a link shortener</h1>
        <!-- Card -->
        <p class="fw-bold text-center" style="color: #ffffff; font-size: 22px;">
            Knowing how your clicks and scans are performing should be as easy as<br> making them. Track, analyze, and optimize all your connections in one place.
        </p>
    </div>
</section>
