<div class="container mt-4">
  <div class="container mt-4">
    <h2 class="mb-3">Your Connections Platform</h2>
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card m-2">
          <div class="row g-0 align-items-center">
            <div class="col-6">
              <img src="dashboard_links.png" class="img-fluid p-3" alt="Make it short">
            </div>
            <div class="col-6 d-flex flex-column justify-content-center text-center">
              <div class="card-body">
                <h5 class="card-title">Make it short</h5>
                <a routerLink="/urls" class="btn btn-primary">Go to Links</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card m-2">
          <div class="row g-0 align-items-center">
            <div class="col-6">
              <img src="dashboard_qrcs.png" class="img-fluid p-3" alt="Make it scannable">
            </div>
            <div class="col-6 d-flex flex-column justify-content-center text-center">
              <div class="card-body">
                <h5 class="card-title">Make it scannable</h5>
                <a routerLink="/urls" class="btn btn-primary">Go to Codes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card m-2">
          <div class="row g-0 align-items-center">
            <div class="col-6">
              <img src="dashboard_lib.png" class="img-fluid p-3" alt="Make a page">
            </div>
            <div class="col-6 d-flex flex-column justify-content-center text-center">
              <div class="card-body">
                <h5 class="card-title">Make a page</h5>
                <a routerLink="/urls" class="btn btn-primary">Go to Pages</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
</div>

